APP_NAME=l
APP_ENV=local
APP_KEY=base64:c8OWlVyq50fc5+APbd7W0QKy/FDOuy3KVqJpR1hAo7g=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://starter.hr

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database
BCRYPT_ROUNDS=12
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=starter
DB_USERNAME=admin
DB_PASSWORD=password


SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=pusher
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false


MAIL_MAILER=smtp
MAIL_HOST=mail.hralamin.xyz
MAIL_PORT=465
MAIL_USERNAME=admin@hralamin.xyz
MAIL_PASSWORD=Qqqqqqqq1@1%
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=admin@hralamin.xyz
MAIL_FROM_NAME=laravel


GITHUB_CLIENT_SECRET=ffe93d8174148ff808974c1c0fddf6f96d2d3adb
GITHUB_CLIENT_ID=Ov23li4zpmGTdwZP7QKs

GOOGLE_CLIENT_SECRET=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
GOOGLE_CLIENT_ID=1015340075151-v7oha8tqr1muapv70f34maqf8d36m83a.apps.googleusercontent.com


LARASOCKET_TOKEN=3324|07Jc0XGeN5nGyItGvbPG7gYVTc30wUWlUVgy41JV
Vite_LARASOCKET_TOKEN="${LARASOCKET_TOKEN}"

PUSHER_APP_ID=1856907
PUSHER_APP_KEY=1b532c8a94e78a812ec3
PUSHER_APP_SECRET=b3cbb31b6deb9902409d
PUSHER_APP_CLUSTER=ap2
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME="https"

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


PUSHER_BEAMS_INSTANCE_ID=c421da14-c9b5-43bc-bd02-6d1867b90c59
PUSHER_BEAMS_SECRET_KEY=7C3BFA665A85D701ADF6CAF618593E3DC58F95A34BE2C9E6427092BA21310D3D

VAPID_PUBLIC_KEY=BMd5P4XcEt9LqKKu3tf5CdBfu2WKwYRu18iS2vU5UwL65SCIzWqqX81hdFh3ncQdWOiC2IjlJ2sUdmJ127tf3U0
VAPID_PRIVATE_KEY=JSKSDAaPizggsPOyXjCOA4F82tLmGfJ6HZw1vEPTFZQ
